.App {
  text-align: center;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 2px solid rgb(64, 64, 64);
}

.top-bar h1 {
  font-size: 28px;
  margin: 0;
}

.add-note {
  padding: 8px 12px;
  font-size: 20px;
  border: 1px solid #000000;
  background-color: white;
}

.main-content {
  background-color: rgb(211, 211, 211);
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
  align-items: start; 
}


@media (max-width: 900px) {
  .main-content {
    grid-template-columns: repeat(2, 1fr); 
  }
}

button.add-note {
  cursor: pointer;
}
